<footer class="footer">
  <div class="container text-center">
    <a *ngIf="Media.FacebookUrl" class="cc-facebook btn btn-link" href="{{Media.FacebookUrl}}" target="_blank"><i
        class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
    <a *ngIf="Media.TwitterUrl" class="cc-twitter btn btn-link " href="{{Media.TwitterUrl}}" target="_blank"><i
        class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
    <a *ngIf="Media.GooglePlusUrl" class="cc-google-plus btn btn-link" href="{{Media.GooglePlusUrl}}" target="_blank"><i
        class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
    <a *ngIf="Media.LinkedInUrl" class="cc-google-plus btn btn-link" href="{{Media.LinkedInUrl}}" target="_blank"><i
        class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a *ngIf="Media.GitHubUrl" class="cc-google-plus btn btn-link" href="{{Media.GitHubUrl}}" target="_blank"><i
        class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a *ngIf="Media.InstagramUrl" class="cc-instagram btn btn-link" href="{{Media.InstagramUrl}}" target="_blank"><i
        class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
  </div>
  <div class="h4 title text-center">{{BasicInformation.Name}}</div>
  <div class="text-center text-muted">
    <p>Copyright &copy; 2019 {{BasicInformation.Name}}. All rights reserved.<br>
      Designed with <i class="fa fa-heart"></i> by <a class="credit" href="https://templateflip.com"
        target="_blank">TemplateFlip</a> and proudly hosted using <a class="credit" href="https://pages.github.com"
        target="_blank"><b>GitHub</b> Pages</a>.</p>
    <app-dmca></app-dmca>
  </div>
</footer>
