<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/"/>
				</rule>
				<rule name="Rewrite HTTP to HTTPS" stopProcessing="true">
					<match url="^(.*)$"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"/>
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<mimeMap fileExtension="." mimeType="text/plain" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>
	</system.webServer>
</configuration>