<div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card" *ngFor="let employment of Experience.Employment">
        <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                    <p>{{employment.JoinedOn | date:'MMM yyyy'}} - 
                        <ng-container *ngIf="employment.LeftOn">{{employment.LeftOn | date:'MMM yyyy'}}</ng-container>
                        <ng-container *ngIf="!employment.LeftOn">Present</ng-container>
                    </p>
                    <div class="h5">{{employment.Organization}}</div>
                </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h5">{{employment.Designation}}</div>
                    <p *ngFor="let description of employment.JobDescription">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>