<div class="container cc-reference">
    <div class="h4 mb-4 text-center title">References</div>
    <div class="card" data-aos="zoom-in">
        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let reference of References; index as i;" [class.active]="i === 0"
                    data-target="#cc-Indicators" [attr.data-slide-to]="i"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" [class.active]="i === 0" *ngFor="let reference of References; index as i;">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 cc-reference-header">
                            <img src="{{reference.AvatarImageUrl}}" alt="Image" />
                            <div class="h5 pt-2">{{reference.Name}}</div>
                            <p class="category">{{reference.Designation}} /<br>{{reference.Organization}}</p>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <p *ngFor="let comment of reference.Comments;">{{comment}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>