<div class="container">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="h4 text-center mb-4 title">Portfolio</div>
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#projects" role="tablist" rel="tooltip"
                            title="Open Source Projects">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#games" role="tablist" rel="tooltip"
                            title="Games I Play">
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pictures" role="tablist" rel="tooltip"
                            title="My Pictures">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content gallery mt-5">
        
        <div class="tab-pane active" id="projects" role="tabpanel">
            <div class="ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-6" *ngFor="let project of Projects;">
                        <div class="cc-porfolio-image img-raised" data-aos="fade-up"
                            data-aos-anchor-placement="top-bottom">
                            <a href="{{project.Url}}" target="_blank">
                                <figure class="cc-effect">
                                    <img src="{{project.ImageUrl}}" alt="{{project.Title}}" />
                                    <figcaption>
                                        <div class="h4">{{project.Title}}</div>
                                        <p>{{project.Description}}</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="games">
            <div class="ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-6" *ngFor="let game of Games;">
                        <div class="cc-porfolio-image img-raised" data-aos="fade-up"
                            data-aos-anchor-placement="top-bottom">
                            <a href="#">
                                <figure class="cc-effect">
                                    <img src="{{game.ImageUrl}}" alt="{{game.Title}}" />
                                    <figcaption>
                                        <div class="h4">{{game.Title}}</div>
                                        <p>{{game.Description}}</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="pictures" role="tabpanel">
            <div class="ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-4" *ngFor="let picture of Pictures;">
                        <div class="cc-porfolio-image img-raised" data-aos="fade-up"
                            data-aos-anchor-placement="top-bottom">
                            <a href="#">
                                <figure class="cc-effect">
                                    <img src="{{picture.ImageUrl}}" alt="Image" />
                                    <figcaption *ngIf="picture.Title">
                                        <div class="h4">{{picture.Title}}</div>
                                        <p>{{picture.Description}}</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>