<app-header></app-header>
<div class="page-content">
    <div>
        <app-profile class="profile-page"></app-profile>
        <div class="section">
            <app-about id="about"></app-about>
        </div>
        <div class="section">
            <app-skills id="skill"></app-skills>
        </div>
        <div class="section">
            <app-portfolio id="portfolio"></app-portfolio>
        </div>
        <div class="section">
            <app-experience id="experience"></app-experience>
        </div>
        <div class="section">
            <app-education id="education"></app-education>
        </div>
        <div class="section">
            <app-references id="reference"></app-references>
        </div>
        <div class="section">
            <app-contact id="contact"></app-contact>
        </div>
    </div>
</div>
<app-footer></app-footer>