<a href="//{{DMCA_DOMAIN}}/Protection/Status.aspx?ID={{Dmca.Id}}" title="Protection Status" class="dmca-badge"
  target="_blank">
  <img src="https://images.dmca.com/Badges/dmca-badge-w200-5x1-10.png?ID={{Dmca.Id}}" alt="Protection Status"
    style="height: 45px;" />
</a>
<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>

<a href="https://{{DMCA_DOMAIN}}/compliance/{{Dmca.Domain}}" title="Compliance information for {{Dmca.Domain}}"
  target="_blank">
  <img src="https://{{DMCA_DOMAIN}}/img/dmca-compliant-white-bg.png" style="height: 45px;" />
</a>
